div {
    font-size: 30px;
    font-family: Tahoma;
    width: 50%;
    float: left;
}

#div1 {
    background-color: #b9b7b7;
    max-width: 500px;
    min-width: 300px;
}

#div2 {
    background-color: #dfb2b2;
    max-width: 500px;
    min-width: 300px;
}