<nav class="nav">
    <a [routerLink]=" [ 'home' ] ">Home</a>
    <a [routerLink]=" [ 'register' ] " *ngIf="!usersService.isLoggedIn">Register</a>
    <a [routerLink]=" [ 'login' ] " *ngIf="!usersService.isLoggedIn">Login</a>
    <a [routerLink]=" [ 'products' ] " *ngIf="usersService.isLoggedIn">Products</a>
    <a href="#" onclick="return false" *ngIf="usersService.isLoggedIn">Logout</a>
</nav>

<router-outlet>
</router-outlet>
<!-- router-outlet is the placeholder, where actual page content will be appear - depends on the route (url) -->