<h3>Employees</h3>
<input type="text" placeholder="Search By Emp Name" [(ngModel)]="searchEmpName">
<button class="btn" type="button" (click)="onSearchClick()">Search</button>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Employee Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let employee of employees">
            <td>{{employee.id}}</td>
            <td>{{employee.empName}}</td>
            <td>{{employee.email}}</td>
        </tr>

    </tbody>
</table>