<div class="row">
  <div class="col-12">
    <h3 class="display-4 p-2">Products</h3>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>
          <a
            href="#"
            onclick="return false"
            (click)="onColumnClick('productName')"
          >
            Product Name

            <i
              class="fa fa-sort-asc"
              *ngIf="sortBy == 'productName' && sortOrder == 'ASC'"
            ></i>

            <i
              class="fa fa-sort-desc"
              *ngIf="sortBy == 'productName' && sortOrder == 'DESC'"
            ></i>
          </a>
        </th>

        <th>
          <a href="#" onclick="return false" (click)="onColumnClick('price')"
            >Price

            <i
              class="fa fa-sort-asc"
              *ngIf="sortBy == 'price' && sortOrder == 'ASC'"
            ></i>

            <i
              class="fa fa-sort-desc"
              *ngIf="sortBy == 'price' && sortOrder == 'DESC'"
            ></i>
          </a>
        </th>

        <th>
          <a href="#" onclick="return false" (click)="onColumnClick('quantity')"
            >Quantity

            <i
              class="fa fa-sort-asc"
              *ngIf="sortBy == 'quantity' && sortOrder == 'ASC'"
            ></i>

            <i
              class="fa fa-sort-desc"
              *ngIf="sortBy == 'quantity' && sortOrder == 'DESC'"
            ></i>
          </a>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let prod of products | sort: sortBy:sortOrder">
        <td>{{ prod.productName }}</td>
        <td>{{ prod.price }}</td>
        <td>{{ prod.quantity }}</td>
      </tr>
    </tbody>
  </table>
</div>
