body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

nav {
    background-color: #24d43c;
    min-height: 60px;
}

aside {
    width: 20%;
    float: left;
    border: 1px solid #b8b6b6;
    min-height: 800px;
}

section {
    width: 80%;
    float: left;
    border: 1px solid #b6b4b4;
    min-height: 800px;
}

footer {
    clear: left;
    width: 100%;
    border: 1px solid #b6b4b4;
    min-height: 40px;
}


/* cards */

.card {
    background-color: #e6e4e4;
    margin: 20px;
    box-shadow: 2px 2px 4px 2px #c7c4c4;
    border-left: 6px solid #153fca;
}

.card .card-header {
    padding: 30px;
    font-weight: bold;
    font-size: 1.3em;
}

.card .card-body {
    padding: 20px;
    border-top: 2px solid #c2bfbf;
}

@media screen and (min-width: 700px) {
    .card {
        width: 27%;
        float: left;
    }
}